<div class="container py-3 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card" style="border-radius: 1rem;">
        <div class="row g-0">
          <div class="col-md-6 col-lg-6 d-none d-md-block">
            <img ngSrc="assets/images/lady-looking-tablet.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                 height="5464" width="5464">
          </div>
          <div class="col-md-6 col-lg-6 d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">
              <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
                <h5 class="fw-normal fs-1 mb-3" style="letter-spacing: 1px;">Sign in</h5>
                <div *ngIf="loginError" class="alert alert-danger px-2">
                  Invalid Email or Password.
                </div>

                <div class="row mb-3">
                  <div class="form-floating">
                    <input formControlName="email" type="email" id="email" class="form-control">
                    <label class="form-label mx-2" for="email" style="margin-left: 0px;">Email address</label>
                  </div>
                  <div>
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger px-2 m-0">

                      <div *ngIf="email?.errors?.['required'] || email?.errors?.['notOnlyWhitespace']">
                        Email address is required.
                      </div>

                      <div *ngIf="email?.errors?.['pattern']">
                        Email must be a valid email address format.
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="form-floating">
                    <input formControlName="password" type="password" id="password" class="form-control">
                    <label class="form-label mx-2" for="password" style="margin-left: 0px;">Password</label>
                  </div>
                  <div>
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger px-2 m-0">

                      <div *ngIf="password?.errors?.['required']">
                        Password is required.
                      </div>

                    </div>
                  </div>
                </div>

                <div class="pt-1 mb-3">
                  <button id="sign-in-btn" class="btn btn-primary btn-block" type="submit" [disabled]="loginFormGroup.invalid">SIGN IN</button>
                </div>

                <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register" style="color: #393f81;">Sign up</a></p>
                <!-- <a href="#!" class="small text-muted">Terms of use.</a>
                <a href="#!" class="small text-muted">Privacy policy</a> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
