<!-- HEADER -->
<app-navigation-bar></app-navigation-bar>

<div class="p-3 text-white">
  <h3 class="fw-normal fs-3 mb-3" style="letter-spacing: 1px;">Play Battle</h3>

  <p>My Trophies: <i class="fa-solid fa-trophy"></i>{{ loginUser.trophies }}</p>

  <button class="btn btn-primary btn-block text-white mb-3" (click)="playBattle()">Battle</button>

  <div *ngIf="winnerId != 0;">
    <p>Battling with <i class="fa-solid fa-user"></i>{{ otherPlayer.firstName | pascalCase }}  {{ otherPlayer.lastName | pascalCase}}</p>

    <div *ngIf="winnerId == loginUser.id; else elseBlock">
      <p>You Win !!!</p>
      <p>+30<i class="fa-solid fa-trophy"></i> Trophies!!!</p>
    </div>

    <ng-template #elseBlock>
      <p>You Lose !!!</p>
      <p>-30<i class="fa-solid fa-trophy"></i> Trophies!!!</p>
    </ng-template>
  </div>
</div>
